<h1>CONTACT</h1><br>
<div class="row">
           <div class="container">
                    <div class="row">
                        <div class="col-3">
                    </div>
                    <div class="col-6"> 
                        <img src="https://images.ecosia.org/_fUDFJ7CB7GQimrQ8pRD4VlAlDI=/0x390/smart/http%3A%2F%2Fwww.sportune.fr%2Fwp-content%2Fuploads%2F2018%2F11%2FKylian-Mbappe-.jpg" class="img-fluid rounded" alt="Responsive image">
                    <div class="col-3">
                </div>
            </div>
</div><br>
<p>Rémy: ☎️ +00 0 00 00 00 00 </p><br>
<p>Nico: ☎️ +33 3 33 33 33 33</p><br>