<h1><%= @title %></h1>

<form action= <%= gossips_path %> method="POST">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
        <div class="container my-5">
            <div class="row">
            <div class="col-2">
        </div>
            <div class="col-8">
            <div class="form-group">
            <label for="exampleInputEmail1">Title:</label>
            <input type="title" name="title" class="form-control" id="exampleInputTitle1" 
            aria-describedby="titlelHelp" placeholder="Enter title">
        </div>

        <div class="form-group">
            <label for="comment">Gossips:</label>
            <textarea name="content" class="form-control" rows="5" id="comment"> </textarea>
        </div>
            <input class="btn btn-primary" type="submit" value="Submit">
            <div class="col-2">
            <div>
                <% if @gossip.errors.any?%>
                <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
                    <ul>
                        <% @gossip.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% else %>
                            <p>NIceone</p>
                        <% end %>
                    </ul>
 
  <% end %>
</form>


