<div class="container my-5">
        <div class="row">
        <div class="col-4">
    </div>
        <div class="col-4">
<div class="card text-center bg-light">
  <div class="card-header">
    👉 GOSSIP SHIT 👈
  </div>
  <div class="card-body">
    <h5 class="card-title font-size large"><%= Gossip.find(params[:id]).title %> </h5>
    <h5 class="card-title font-size: 10px"><%= Gossip.find(params[:id]).content %></h5>
    <h5 class="card-title font-size small"><%= Gossip.find(params[:id]).author.pseudo %></h5>
    <p class="card-text"><%= Gossip.find(params[:id]).created_at %> </p>
  </div>
  <div class="card-footer text-muted">
   <div class="col-4">
  </div>
</div>