<h1>Auteur</h1>
<h2>Prénom: <%= User.find(params[:id]).first_name %> </h2>
<h2>Nom: <%= User.find(params[:id]).last_name %> </h2>
<h2>Pseudo: <%= User.find(params[:id]).pseudo %> </h2>
<h2>Date: <%= User.find(params[:id]).created_at %> </h2>